.landing-page .content-center img{
    height:370px;
}
#bottompadding{
    padding-bottom: 15vw;
}
.cicon{
    height: 5.0625em;
}
#lled{
    background-color: #0e84f8;
}
#lcolor{
    background-color: #7153CB;
}
#cost{
    padding-top: 173px;
}
#costh4{
    margin-top: 2.75em;
}
.info{
    border-width: 2px;
}
#second{
    padding-top: 16px;
}
#body{
    margin-top: 15%;
    padding-top: 1em;
    padding-bottom: 10em;
}
.footer{
    background: #1f1f1f;
    border-top: 0px;
    border-top: 0px;
}
body{
    background: #1f1f1f;
}
.el__preview-cont{
}
#eltext1{
    font-size: 17px;
    margin-left: 32em;
    margin-top: 12em;
}
#eltext2{
    font-size: 17px;
    margin-left: 23em;
    margin-top: 15em;
}
#eltext3{
    font-size: 17px;
    text-align: center;
    margin-top: 15em;
}
#eltext4{
    font-size: 17px;
    text-align: center;
    margin-top: 15em;
}
#eltext5{
    font-size: 17px;
    margin-left:2em;
    text-align: left;
    margin-top: 15em;
    margin-right: 30em;
}
.navbar{
    padding: 0px;
    background: #066ccf;
    height:4em;
}
#mc_embed_signup{
    margin-top: 5em;
    transition: ease-in-out 500ms;
}
#mc_embed_signup:hover{
    background: rgba(6, 108, 207, 0.51);
    border-radius: 8px;
}